@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

*,
*::before,
*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body{
  display:block;
  font-family: Roboto;
  width: 100%;
  min-height: 100vh;
}
body{
  position: relative;
}
footer p{
  text-align: center;
}
.badge{
  display: inline;
  width: 18px;
  height: 18px;
  border: 0;
  vertical-align: text-bottom;
}
.tag{
  display: inline-block;
  padding: 0 3px;
  background: #41da89;
}
input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -32000;
}
button {
  padding: .5em 1em;
  border: none;
  border-radius: .2em;
  background-color: #333;
  color: white;
  font-weight: bold;
  letter-spacing: 0.5px;
}
.hidden{
  opacity: 0;
}
/*header style*/
.screen{
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #00000040;
  z-index: 9;
  opacity: 0
}
#menu:checked+.screen{
  opacity: 1
}
.menu {
  position: absolute;
  display: flex;
  top: 3em;
  padding: .5em;
  margin: 0 0.5em;
  width: 35ch;
  flex-direction: column;
  border-radius: 0.2em;
  background-color: #333;
  transform: scaleY(0);
  z-index: 10;
}
.menu::before {
  content: '';
  display: block;
  width: 1em;
  height: 1em;
  position: absolute;
  top: -.5em;
  transform: translateX(0.5em) rotate(-45deg);
  background-color: #333;
}
.menu *::selection{
  color: inherit;
  background-color: transparent;
}
#menu:checked ~ .menu {
  transform: scaleY(1);
}
.menu__icon {
  display: block;
}
.bar1,
.bar2,
.bar3{
  display: block;
  background-color: white;
  height: .3em;
  width: 2em;
  margin: .3em 0;
  border-radius: .15em;
}
#menu:focus~.menu__icon>.menu__icon_bar,
.menu__icon:hover>.menu__icon_bar{
  background-color: gray
}
.menu__item {
  margin: .25em 0;
  border-radius: 0.5em;
  overflow: hidden;
}
.header {
  background-color: #333;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  top: 0;
  padding: 0 1em
}
.menu__item_label {
  position: relative;
  display: flex;
  padding: .5em;
  align-items: center;
  background-color: #8886;
  color: white;
}
.menu__item_checkbox:checked ~ .menu__item_label {
  background-color: #8380ff;
  color: black
}
.checkbox_icon{
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  margin: 0 1em 0 0;
  border: solid white 2px;
  border-radius: .2em;
}
.menu__item_checkbox:checked ~ .menu__item_label>.checkbox_icon{
  background-color: white;
}
.checkbox_icon::after {
  content: '';
  display: block;
  height: 0.7em;
  width: 1.2em;
  border-bottom: solid #8380ff 0.3em;
  border-left: solid #8380ff 0.3em;
  transform: translateY(19%) rotate(-45deg);
  top: 0;
  position: relative;
  left: 0;
  opacity: 0;
}
.menu__item_checkbox:checked ~ .menu__item_label > .checkbox_icon::after {
  opacity: 1;
}
.menu__item_checkbox:indeterminate ~ .menu__item_label > .checkbox_icon {
  border: 0.5em solid white;
  background: none;
}
.menu__item_checkbox:indeterminate ~ .menu__item_label > .checkbox_icon::after {
  opacity: 0;
}
main {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 5em 0.5em 0;
  max-width: 100ch;
  width: 100%;
}

/* style de la playlist */
#playlist{
  display: flex;
  width:100%;
  height: 100%;
  flex-direction: column;
}
.playlist_head{
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 0 0 1em 0;
}
.playlist_length{
  display: block;
  padding: .5em;
  text-align: right;
}
.playlist_item{
  display: inline-grid;
  position: relative;
  grid-template: 1em 1.5em 1em 3em 1em / repeat(2, 1fr);
  grid-template-areas:
  "tags tags"
  "title artiste"
  "album album"
  "info info"
  "id requester";
  grid-gap: .25em;
  padding: .25em 10px .6em;
  background: #d2d2d2;
  border-radius: 5px;
  margin-bottom: 1em;
  width:100%;
  height: 155px;
  opacity: 1;
  transition: 300ms ease;
  transition-property: opacity, height;
  overflow: hidden;
}
.playlist_item.VIP{
  background-color: #f8eba7;
  background-image: url('./images/background_VIP.jpg');
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: repeat;
  background-size: 20%;
}
.playlist_item_hidden{
  opacity: 0;
  height: 0;
}
.playlist_item__tags{
  grid-area: tags;
  display: flex;
}
.playlist_item__tag{
  width: auto;
  display: flex;
  margin: 0 3px
}
.playlist_item__tags figure {
  height: 18px;
  padding: 0 3px
}
.playlist_item__title{
  grid-area: title;
  font-size: 1.5em;
}
.playlist_item__album{
  grid-area: album;
}
.playlist_item__artiste{
  grid-area: artiste;
  text-align: right;
  height: 100%;
}
.playlist_item__artiste p{
  vertical-align: middle;
}
.playlist_item__info{
  grid-area: info;
}
.playlist_item__requester{
  grid-area: requester;
  display: flex;
  flex-direction: row-reverse;
}
.playlist_item__requester img,
.playlist_item__requester span{
  margin: 0 3px;
}
.playlist_item__id{
  grid-area: id;
  font-size: .8em
}

/* dark mode */
.dark{
  background-color: #555555;
  color: white;
}
.dark .playlist_item {
  background-color: #262626;
  color: white;
}
.dark .playlist_item.VIP {
  background-color: #636363;
}
.dark button {
  color: black;
  background-color: #8380ff;
}

@media only screen and (prefers-reduced-motion:no-preference) {
  .dark{
    transition: 300ms ease-in-out;
    transition-property: background-color, color
  }
  .screen{
    transition: background-color 300ms ease-in-out
  }
  .menu__icon *{
    transition: background-color 300ms ease-in-out
  }
  .menu__item_label{
    transition: 300ms ease-in-out;
    transition-property: background-color, color;
  }
  .checkbox_icon{
    transition: background-color 300ms ease-in-out
  }
  .checkbox_icon::after{
    transition: opacity 300ms ease-in-out
  }
  .playlist_item{
    transition: 300ms ease-in-out;
    transition-property: background-color, color
  }
  .playlist_item.VIP{
    animation: vip linear infinite 20s;
  }
  button{
    transition: 300ms ease-in-out;
    transition-property: background-color, color
  }
  button:not(:active){
    animation: button 600ms ease-in-out
  }
}

@media only screen and (max-width: 1920px){
  .playlist_item.VIP{
    background-image: url('./images/background_VIP_LQ.jpg')
  }
}

@media only screen and (max-width: 60ch) {
  .menu {
    top: 2.1em;
    padding: .5em;
    background-color: #333;
    flex-direction: column;
    transform: scaleY(0);
    z-index: 10;
    margin: unset;
    border-radius: unset;
    width: 100%;
  }
  .menu::before{
    content: none;
  }
  .playlist_item{
    grid-template: 1em 1.5em 1em 1em 3em 1em 1em / 100%;
    grid-template-areas:
      "tags"
      "title"
      "artiste"
      "album"
      "info"
      "requester"
      "id";
    height: 11.5em
  }
}

@keyframes vip {
  0%{
    background-position-X: 0%;
  }
  100%{
    background-position-X: 100%
  }
}

@keyframes button {
  0%{
    background-color: #333;
    color: white;
  }
  66%{
    background-color: #8380ff;
    color: black;
  }
}
