@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
:root{
  --accent: #8380ff;
  --primary: #333;
  --secondary: #555555;
  --screen50: #00000080;
  --screen25: #00000040;
  --VIP: #f8eba7;
  --VIPstream: #b9884752;
}

*,
*::before,
*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body{
  display:block;
  font-family: Roboto;
  width: 100%;
  min-height: 100vh;
}
body{
  position: relative;
}
footer p{
  text-align: center;
}
.badge{
  display: inline;
  width: 1.125em;
  height: 1.125em;
  border: 0;
  margin: auto 0.1em auto 0;
  vertical-align: text-bottom;
}
input[type="checkbox"]{
  position: absolute;
  opacity: 0;
  z-index: -32000;
}
button{
  padding: .5em 1em;
  border: none;
  border-radius: .2em;
  background-color: var(--primary);
  color: white;
  font-weight: bold;
  letter-spacing: 0.5px;
}
button>span {
  margin-left: 0.5em;
}
.hidden{
  opacity: 0;
}
/*header style*/
.screen{
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--screen50);
  z-index: -5;
  opacity: 0;
}
#menu:checked+.screen{
  opacity: 1;
  z-index: 10
}
.menu{
  position: absolute;
  display: flex;
  top: 3em;
  padding: .5em;
  margin: 0 0.5em;
  width: 35ch;
  flex-direction: column;
  border-radius: 0.2em;
  background-color: var(--primary);
  transform: scaleY(0);
  z-index: 10;
}
.menu::before{
  content: '';
  display: block;
  width: 1em;
  height: 1em;
  position: absolute;
  top: -.5em;
  transform: translateX(0.5em) rotate(-45deg);
  background-color: var(--primary);
}
.menu *::selection{
  color: inherit;
  background-color: transparent;
}
#menu:checked ~ .menu{
  transform: scaleY(1);
}
.menu__icon{
  display: block;
}
.bar1,
.bar2,
.bar3{
  display: block;
  background-color: white;
  height: .3em;
  width: 2em;
  margin: .3em 0;
  border-radius: .15em;
}
#menu:focus~.menu__icon>.menu__icon_bar,
.menu__icon:hover>.menu__icon_bar{
  background-color: gray
}
.menu__item{
  margin: .25em 0;
  border-radius: 0.5em;
  overflow: hidden;
}
.header{
  background-color: var(--primary);
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
  top: 0;
  padding: 0 1em
}
.menu__item_label{
  position: relative;
  display: flex;
  padding: .5em;
  align-items: center;
  background-color: var(--secondary);
  color: white;
}
.menu__item_checkbox:checked ~ .menu__item_label{
  background-color: var(--accent);
  color: black
}
.checkbox_icon{
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  margin: 0 1em 0 0;
  border: solid white 2px;
  border-radius: .2em;
}
.menu__item_checkbox:checked ~ .menu__item_label>.checkbox_icon{
  background-color: white;
}
.checkbox_icon::after{
  content: '';
  display: block;
  height: 0.7em;
  width: 1.2em;
  border-bottom: solid var(--accent) 0.3em;
  border-left: solid var(--accent) 0.3em;
  transform: translateY(19%) rotate(-45deg);
  top: 0;
  position: relative;
  left: 0;
  opacity: 0;
}
.menu__item_checkbox:checked ~ .menu__item_label > .checkbox_icon::after{
  opacity: 1;
}
.menu__item_checkbox:indeterminate ~ .menu__item_label > .checkbox_icon{
  border: 0.5em solid white;
  background: none;
}
.menu__item_checkbox:indeterminate ~ .menu__item_label > .checkbox_icon::after{
  opacity: 0;
}
main{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 5em 0.5em 0;
  max-width: 75ch;
  width: 100%;
}

/* style de la playlist */
#playlist{
  display: flex;
  width:100%;
  height: 100%;
  flex-direction: column;
}
.playlist_head{
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 0 0 1em 0;
}
.playlist_length{
  display: block;
  padding: .5em;
  text-align: right;
  grid-column: 2
}
.playlist_item{
  display: inline-grid;
  position: relative;
  grid-template: 1.3em 1.5em 1.7em 1em / auto 1fr;
  grid-template-areas: "tags tags" "title title" "artist artist" "id requester";
  grid-gap: .25em;
  padding: .5em 0.5em 0.75em;
  background-color: var(--screen50);
  border-radius: .5em;
  margin-bottom: 1em;
  width: 100%;
  height: 7.5em;
  transition: 300ms ease;
  transition-property: opacity, height;
  overflow: hidden;
}
.playlist_item.VIP{
  background-color: var(--VIP);
  background-image: url('./images/background_VIP_Alpha.png');
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: repeat;
  background-size: 20%;
}
.playlist_item_hidden{
  opacity: 0;
  height: 0;
  padding: 0;
  margin: 0
}
.playlist_item__tags{
  grid-area: tags;
  display: flex;
}
.playlist_item__tag{
  width: auto;
  display: flex;
  margin: 0 .2em;
  border-radius: .2em
}
.playlist_item__tags figure{
  height: 100%;
  padding: 0 .2em
}
.playlist_item__tag figcaption {
  margin-top: 0.05em
}
.playlist_item__title{
  /* needed for the auto ellipsis */
  width: 100%;
  grid-area: title;
  font-size: 1.5em;
}
.playlist_item__title p{
  /* auto ellipsis */
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.playlist_item__artiste{
  grid-area: artist;
  font-size: 1.2em;
  height: 100%;
  /* needed for ellipsis */
  width: 100%;
}
.playlist_item__artiste p{
  vertical-align: middle;
  /* auto ellipsis */
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.playlist_item__requester{
  grid-area: requester;
  display: flex;
  flex-direction: row-reverse;
  font-weight: bold;
	text-shadow: 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
.playlist_item__requester img,
.playlist_item__requester span{
  margin: 0 3px;
}
.playlist_item__id{
  display: none
}
.show_id .playlist_item__id{
  display: block;
  grid-area: id;
  font-size: .8em
}
.show_id .playlist_item__id p{
  display: block;
  border: solid 1px #fff;
  border-radius: .5em;
  padding: 0.1em .5em;
  min-width: 8ch;
  text-align: center;
}
/* dark mode */
.dark{
  background-color: var(--secondary);
  color: white;
}
.dark .playlist_item{
  background-color: var(--primary);
  color: white;
}
.dark .playlist_item.VIP{
  background-color: var(--primary);
}
.dark button{
  color: black;
  background-color: var(--accent);
}
.dark .playlist_item__id p{
  border-color: var(--secondary);
}
/* stream mode */
.stream .playlist_item{
  background-color: var(--screen50);
  color: white
}
.stream .playlist_item.VIP{
  /* force animation on stream mode (webkit compatibility issue) */
  animation: vip linear infinite 20s;
  background-color: var(--VIPstream)
}
.stream footer{
  display: none;
}

@media only screen and (prefers-reduced-motion:no-preference){
  .dark,
  body,
  .menu__item_label,
  button{
    transition: 300ms ease-in-out;
    transition-property: background-color, color
  }
  .screen{
    transition: opacity 300ms ease-in-out, z-index 0s 300ms;
  }
  #menu:checked+.screen{
    transition: opacity 300ms ease-in-out;
  }
  .menu__icon *{
    transition: background-color 300ms ease-in-out
  }
  .checkbox_icon{
    transition: background-color 300ms ease-in-out
  }
  .checkbox_icon::after{
    transition: opacity 300ms ease-in-out
  }
  .playlist_item{
    transition: 300ms ease-in-out;
    transition-property: background-color, color, opacity, height, padding, margin
  }
  .playlist_item.VIP{
    animation: vip linear infinite 20s;
  }
  button:not(:active){
    animation: button 1000ms cubic-bezier(.23,1,.32,1)
  }
  button:not(:active)>.btn_icon{
    animation: btn_icon 600ms ease-in
  }
}

@media only screen and (max-width: 1920px){
  .playlist_item.VIP{
    background-image: url('./images/background_VIP_Alpha.png')
  }
}

@media only screen and (max-width: 60ch){
  .menu{
    top: 2.1em;
    padding: .5em;
    background-color: var(--primary);
    flex-direction: column;
    transform: scaleY(0);
    z-index: 10;
    margin: unset;
    border-radius: unset;
    width: 100%;
  }
  .menu::before{
    content: none;
  }
  .playlist_item{
    grid-template: 1em 1.5em 1em 1em 1em / 100%;
    grid-template-areas:
    "tags"
    "title"
    "artist"
    "requester"
    "id";
  }
}

@keyframes vip{
  0%{
    background-position-x: 0%
  }
  100%{
    background-position-x: 100%
  }
}

@keyframes button{
  0%{
    background-color: var(--primary);
    color: white;
  }
  66%{
    background-color: var(--accent);
    color: black;
  }
}

@keyframes btn_icon {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(180deg);
  }
}
